PORT=8080
CORS_ORIGIN=*
MONGODB_URL=mongodb+srv://am**********86:*********@cluster0.hjyknmk.mongodb.net


ACCESS_TOKEN_SECRET=*******
ACCESS_TOKEN_EXPIRY=*****

REFRESH_TOKEN_SECRET=********
REFRESH_TOKEN_EXPIRY=7d


CLOUDINARY_CLOUD_NAME=******
CLOUDINARY_API_KEY=7*******
CLOUDINARY_API_SECRET=**********